<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Real Estate Listings</title>
    <link rel="stylesheet" href="../style.css" />
  </head>
  <body>
    <!-- Include Header -->
    <!-- wp:template-part {"slug":"header"} /-->

    <main>
      <h1>Featured Properties</h1>
      <p> ufytctxtxtx65x uyvc86ccxiuv</p>
      <div class="property-listing">
        <!-- wp:post-template /-->

      </div>
    </main>

    <!-- Include Footer -->
    <!-- wp:template-part {"slug":"footer"} /-->
  </body>
</html>